*{
    box-sizing: border-box;
    font-family: 'myFont';
}

@font-face{
    font-family: 'myFont';
    src: url(./font/Fredoka_One/FredokaOne-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #5cdb95;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*---------- Players ----------*/

#players-container{
    background-color: #05386b;
    width: 100%;
    margin-bottom: 2rem;
}

#players{
    width: min(600px, 90vw);
    font-size: min(3rem, 8vw);
    margin: 2rem auto 0.3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #05386b;
}

#player-one{
    text-align: center;
    background-color: #05386b;
}

#player-two{
    text-align: center;
    background-color: #05386b;
}

.name{
    display: flex;
    padding: 0.1rem;
    border-radius: 0.4rem;
}

.name svg{
    cursor: pointer;
}

.my-turn{
    box-shadow: 0 0 1rem white;
}

/*---------- Gameboard ----------*/

#game{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#gameboard{
    width: min(500px, 90vmin);
    height: min(500px, 90vmin);
    cursor: default;
    grid-area: 1/1/2/2;
    background-color: white;
    border: 0.25rem solid #05386b;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameboard > div{
    font-size: min(6rem, 20vmin);
    display: grid;
    align-content: center;
    justify-content: center;
}

#gameboard div:nth-child(3n+2), #gameboard div:nth-child(3n+3){
    border-left: 0.25rem solid black;
}

#gameboard div:nth-last-child(n+4){
    border-bottom: 0.25rem solid black;
}

#again{
    width: min(500px, 90vmin);
    height: min(500px, 90vmin);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: min(3rem, 10vmin);
    font-weight: bold;
    cursor: pointer;
    grid-area: 1/1/2/2;
    border-radius: 10%;
    text-align: center;
}

/*---------- Options ----------*/

#options{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

#options button{
    font-size: min(1.5rem, 10vw);
    width: min(16rem, 80vw);
    padding: 0.5rem;
    border: 0.2rem solid #05386b;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
}

#options button:hover{
    background-color: #05386b;
    color: white;
}
