*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'myFont';
    src: url(./font/Fredoka_One/FredokaOne-Regular.ttf);
}

#gameboard{
    width: min(600px, 90vmin);
    height: min(600px, 90vmin);
    margin: auto;
    font-family: 'myFont', Roboto;
    cursor: default;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameboard > div{
    font-size: 5rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

#gameboard div:nth-child(3n+2), #gameboard div:nth-child(3n+3){
    border-left: 0.25rem solid black;
}

#gameboard div:nth-last-child(n+4){
    border-bottom: 0.25rem solid black;
}